.bg-img{
	background-image: url(wallpaper.png);
  	margin: auto;
  	width: 50%;
  	padding: 10px;
}
body{
	font-family: arial, verdana, sans-serif;
}
h1{
	text-align: center;
}
#textfield, #name{
	width: 100%;
	height: 30px;
}
input[type=submit], input[type=reset]{
	width: 100px;
	height: 40px;
	color:#DCDCDC. ;
}